/*font-family: 'Georgia, 'Times New Roman', Times, serif;*/
/* :root {
  --primary-color: blue;
  --secondary-color: red;
}
var(--primary-color); */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: beige;

/* CSS barre de navigation */
}
.navbar-toggler {
  color: white;
}
.navbar-expand-lg {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: black;
  align-items: center;
  /* justify-content: space-between; */
}
.navbar-nav {
  margin-left: 350px;
}
.nav-link {
  margin: 10px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
  border-radius: 10px;
  border-right: 2px solid orangered;
}

.nav-link:hover {
  background: rgb(225, 202, 164);
  transition: 0.5s;
}

/* ------------------------------------- */
.tittle {
  color: rgb(229, 118, 28);
  text-align: center;
  padding-top: 0.3em;
  font-size: 2.5em;
  font-weight: bold;
}
/*Acceuil css */
#accueil {
  padding-top: 20em;
  background-image: url("../img/piscine.jpg");
  background-position: bottom;
  background-size: cover;
  height: calc(100vh - 80%);
  background-repeat: no-repeat;
}
#accueil h1 {
  padding-top: 1em;
  padding-left: 3em;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
  font-size: 5.6em;
  justify-content: center;
  align-items: center;
}
#accueil .btn {
  background: orangered;
  width: 6em;
  font-size: 1.5em;
}
#accueil .btn:hover {
  background-color: blue;
}

/* CSS page NOS BUNGALOWS*/
#bungalows {
  background-color: rgb(239, 244, 243);
  margin-top: 0.5em;
  padding: 0 10%;
  width: 100%;
}
#bungalows .card-deck {
  position: relative;
  touch-action: manipulation;
  margin: 0.93em;
}
#bungalows .card-footer {
  background-color: rgb(59, 28, 28);
  text-align: center;
}
#bungalows .card-footer a {
  font-size: 1em;
  color: white;
}
#bungalows .card-body {
  text-align: center;
}
.card .card-title {
  text-align: center;
}
.card-img {
  width: 350px;
  height: 250px;
}

/* CSS chaque bungalow */
.bungalow {
  margin-top:6em;
  padding-top: 1em;
  text-align: center;
  background-color: bisque;
}

/* CSS page NOS SERVICES*/
#services {
  margin-top: 0.5em;
  padding: 0 10%;
  width: 100%;
  background: rgb(225, 202, 164);
  filter: brightness(130%);
}
#services p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#services .div-services {
  margin-top: 2em;
  margin-left: 20em;
  position: relative;
  width: 50%;
}

#services .img-fluid {
  display: block;
  width: 500px;
  height: 280px;
  margin: 20px;
}

#services .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: black;
}

#services .div-services:hover .overlay {
  opacity: 2;
}
#services .div-services .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  margin-right: 100px;
}
#services .btn {
  background: orangered;
  width: 6em;
  font-size: 1.5em;
}
#services .btn:hover {
  background-color: blue;
}

/* CSS page ACTIVITES*/
#activity {
  margin-top: 0.5em;
  padding: 0 5%;
  width: 100%;
  background-color: rgb(39, 48, 22);
  filter: brightness(150%)
}
#activity p {
  color: white;
  font-size: 1.25em;
}

#activity .carousel-inner .d-block {
  width: 60em;
  height: 25em;
  margin: auto;
}
#activity .carousel-item h2 {
  background-color: white;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  opacity: 0.2;
}
#activity .btn {
  background: orangered;
  width: 6em;
  font-size: 1.5em;
}
#activity .btn:hover {
  background-color: blue;
}

/* CSS page de RESERVATION*/

.form-reservation .text {
  text-align: center;
}

label, input {
    display: inline-block;
    width: 200px;
}
.coordonées {
  color: black;
  text-align: left;
  font-size: 18px;
  padding-left: 100px;
  font-weight: bold;
}
#reservation .form-control {
  border-radius: 5px;
  height: 3em; 
  margin: 0.5em;
  vertical-align: center;
  color: rgb(229, 118, 28);
}
/* bouton 'réserver' du formulaire */
.btn:not(:disabled):not(.disabled) { 
  width: 15em;
  margin-left: 24em;
}

/* CSS page de one RESERVATION*/
.one-reservation {
  margin-top: 6em;
}
.card-one-reservation {
  width: 48%;
  margin-left: 300px;
}
.form-reservation .form-label {
  justify-items: left; 
}
.row-fieldset {
  width: 60%;
  margin-left: 300px;
}
/* CSS page CONTACT*/
#contact {
  background-color: white;
  width: 100%;
}

.coordinates {
  background-color: black;
  border-radius: 20px;
  color: orange;
  text-align: center;
  line-height: 50px;
  width: 345px;
  height: 520px;
  margin-bottom: 40px;
  font-size: 20px;
}
.baobab {
  text-align: center;
  font-weight: bold;
  color:rgb(255, 72, 0);
}
.a-bientot {
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
  font-size: 3em;
  padding-bottom: 20px;
}

/* CSS page COMMENTAIRES */
.star {
  display: flex;
}
.form-commentaires {
  margin-left: 20em;
}
.btn-commentaires {
  background-color: black;
  position: center;
  width: 20em;
  margin-left: 12em;
}

/* CSS affichge COMMENTAIRES */
.card {
  width: 50%;
  margin-left: 20em;
}

/* css footer */
.parafooter {
  color: white;
}

/*MEDIA QUERIES*/

/* Ceci s'applique aux écrans minimim 1520px de largeur */
@media screen and (min-width: 1520px) {

}


/* Ceci s'applique aux écrans au dessous de 620px de largeur */
@media screen and (max-width: 620px) {
  .navbar-expand-lg {
    height: 100px;
  }
  .tittle {
    color: rgb(229, 118, 28);
    text-align: center;
    padding-top: 0.1em;
    font-size: 1.5em;
    font-weight: bold;
  }
  .shadow {
    width: 90%;
  }
  #accueil {
    height: 100%;
  }
  #accueil .btn {
    width: 10em;
    height: 2.5em;
    font-size: 1em;
    text-align: center;
  }
  /*CSS section bungalows */
  #bungalows {
    padding: 0 10%; 
  }
  .shadow {
    width: 100%;
  }
  .card-img {
    width: 100%;
  }
  .card-deck .card {
    flex: none;
  }
  .service-text {
    font-size: 0.4em;
  }

  /* css section SERVICES */
  #services .div-services {
    margin-left: 5em;
  }
  #services .div-services p {
    font-size: 2em;
  }
  
  #services .img-fluid {
    margin: none;
    height: 150px;
  }
  #services .overlay {
    height: 110%;
    width: 150%;
    margin: 10px;
  }
  #services .btn {
    width: 10em;
    height: 2.5em;
    font-size: 1em;
    text-align: center;
  }

  /* CSS section RESERVATION */
  .row-fieldset {
    width: 95%;
    margin-left: 100px;
  }
  .form-reservation .text {
    text-align: start;
  }
  .text-center {
    text-align: none;
  }
  .coordonées {
    padding-left: 195px;
  }
  .btn:not(:disabled):not(.disabled) {
    margin-left: 6em;
  }

  .coordinates-img {
    display: none;
  }

  /* CSS section COMMENTAIRES */
  #commentaires .form-commentaires {
    margin-left: 10em;
  }

  .btn-commentaires {
    width: 13em;
    margin-left: 0;
  }
  .card {
    width: 100%;
    margin-left: 0;
  }

}

/* Ceci s'applique aux écrans au dessous de 980px de largeur */
@media screen and (max-width: 980px) {
  .navbar-expand-lg {
    height: 120px;
  }
  i.bi-list {
    font-size: 60px;
    margin-bottom: 5px;
  }

  .nav-link {
    /* position: relative;
    left: -100%;
    top: 70px;
    gap: 0; */
    flex-direction: column;
    background-color: #262626;
    font-size: 10px;
    width: 30%;
    border-right: none;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
    /* align-items: flex-end;  */
  }
  .nav-links.active {
    left: 0;
  }
  #accueil h1 {
    display: none;
  }

  #bungalows {
    padding: 0;
  }
  #bungalows .card-deck {
    margin: 0;
  }
  #bungalows .card-img {
    width: 290px;
  }

  /* CSS section SERVICES */
/* .service-text {
    font-size: 1em;
  }
  */
  #services .div-services {
    margin-left: 10em;
  }
  #services .div-services p {
    font-size: 2em;
  }
  
  #services .img-fluid {
    margin: none;
    height: 200px;
  }
  #services .overlay {
    height: 110%;
    width: 150%;
    margin: 10px;
  }
  #services .btn {
    width: 10em;
    height: 2.5em;
    font-size: 1em;
    text-align: center;
  }

  /* CSS de la section RESERVATION */
  .form-reservation .text {
    text-align: start;
  }
  .btn:not(:disabled):not(.disabled) {
    margin-left: 6em;
  }

  /* CSS section CONTACT */
  /* #contact .row {
    display: none;
  } */
  .coordinate-baobab {
    display: none;
  }
  .baobab {
    display: none;
  }

  /* CSS section COMMENTAIRES */
  .form-commentaires {
    margin-left: 15em;
  }
  .btn-commentaires {
    margin-left: 3em;
  }

  /* CSS affichage COMMENTAIRES */
  .card {
    margin-left: 15em;
  }
}

